In [1]:
import pandas as pd
from deloitte import Deloitte

In [2]:
data = Deloitte("MA_Exer_PikesPeak_Females.txt")

data.clean_data()

,place,div_total,num,name,age,hometown,gun_time,net_time,pace
0,1,1/86,30,Florence Jepkosgei,22.0,Kenya,32:59,32:58,5:19
1,2,2/86,8,Eunice Chepkirui,21.0,Kenya,33:14,33:13,5:21
2,3,1/247,3200,Elena Orlova,36.0,Gaithersburg MD,34:26,34:25,5:33
3,4,1/173,2,Susannah Kvasnicka,34.0,Great Falls VA,34:43,34:42,5:35
4,5,1/142,6,Casey Smith,26.0,Arlington VA,35:04,35:02,5:39
...,...,...,...,...,...,...,...,...,...
1100,1101,247/247,1847,Alicia Maxwell,35.0,Germantown MD,1:43:47,1:40:39,16:12
1101,1102,110/110,2618,Regina Tenali,47.0,Gaithersburg MD,1:50:31,1:45:22,16:58
1102,1103,171/173,986,Nirmala Donley,32.0,Ellicott City M,1:50:31,1:45:22,16:58
1103,1104,172/173,1214,Heidi Gertner,34.0,Bethesda MD,1:46:49,1:46:49,17:12
1104,1105,173/173,2852,Deborah Zerwitz,33.0,Washington DC,1:46:49,1:46:49,17:12

In [21]:
test_df = data.clean_data()

from datetime import datetime

def try_parsing_date(text):
    for fmt in ('%H:%M:%S', '%M:%S', ':%S'):
        try:
            return datetime.strptime(text, fmt)
        except ValueError:
            pass
    raise ValueError('no valid date format found')

                
test_df['gun_time'] = test_df['gun_time'].map(try_parsing_date)
test_df['gun_time'] = test_df['gun_time'] - datetime(1900, 1, 1) # Remove date part
test_df['gun_time'].dt.total_seconds()

test_df['net_time'] = test_df['net_time'].map(try_parsing_date)
test_df['net_time'] = test_df['net_time'] - datetime(1900, 1, 1) # Remove date part
test_df['net_time'].dt.total_seconds()

test_df['pace'] = test_df['pace'].map(try_parsing_date)
test_df['pace'] = test_df['pace'] - datetime(1900, 1, 1) # Remove date part
test_df['pace'].dt.total_seconds()

#pd.to_datetime(test_df.gun_time, format='%H:%M:%S.%f')

0        319.0
1        321.0
2        333.0
3        335.0
4        339.0
         ...
1100     972.0
1101    1018.0
1102    1018.0
1103    1032.0
1104    1032.0
Name: pace, Length: 1105, dtype: float64

In [34]:
def rreplace(s, old=' ', new=', ', occurrence=1):
    li = s.rsplit(old, occurrence)
    return new.join(li)

test_df['hometown']=test_df['hometown'].map(rreplace)

test_df[['city','state']]=test_df.hometown.str.split(',', expand=True)
test_df['state'].replace(to_replace=' ', value='', regex=True, inplace=True)

In [43]:
#test_df.loc[3,'state']

'VA'

In [45]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))
print(abbrev_to_us_state)
test_df['state']=test_df['state'].map(abbrev_to_us_state)

{'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'DC': 'District of Columbia', 'AS': 'American Samoa', 'GU': 'Guam', 'MP': 'Northern Mariana Islands', 'PR': 'Puerto Rico', 'UM': 'United States Minor Outlying Islands', 'VI': 'U.S. Virgin Islands'}

In [73]:
set(test_df.loc[test_df['state'].isnull(),:]['city'])

missing_states={'Ellicott City':'Maryland', 'Fredericksburg':'Virginia', 
                'North Potomac':'Maryland', 'Silver Spring':'Maryland',
               'Washington':'District of Columbia'}
print(missing_states.keys())
subset = test_df.loc[test_df['city'].isin(missing_states.keys()),'city']
test_df.loc[subset.index,'state'] =\
      test_df.loc[subset.index,'city'].map(missing_states)


test_df.loc[test_df['state'].isnull(), :]

dict_keys(['Ellicott City', 'Fredericksburg', 'North Potomac', 'Silver Spring', 'Washington'])

,place,div_total,num,name,age,hometown,gun_time,net_time,pace,city,state
0,1,1/86,30,Florence Jepkosgei,22.0,"Kenya,",00:32:59,00:32:58,00:05:19,Kenya,NaN
1,2,2/86,8,Eunice Chepkirui,21.0,"Kenya,",00:33:14,00:33:13,00:05:21,Kenya,NaN
5,6,1/110,28,Lyubov Kremleva,45.0,"Russia,",00:35:05,00:35:04,00:05:39,Russia,NaN
34,35,6/173,676,Christine Brophy,41.0,"Mongtomery, Vill",00:43:34,00:42:33,00:06:51,Mongtomery,NaN
36,37,8/86,2010,Megan Nechanicky,24.0,"Montgomery, Vill",00:42:54,00:42:48,00:06:54,Montgomery,NaN
42,43,9/247,571,Michelle Beard,36.0,"Montgomery, Vill",00:44:46,00:43:39,00:07:02,Montgomery,NaN
70,71,7/142,1360,Jessica Heinze,29.0,"North, Bethesda",00:47:04,00:45:47,00:07:22,North,NaN
112,113,13/173,1035,Beju Ekperigin,30.0,"Montgomery, Vill",00:50:06,00:47:04,00:07:35,Montgomery,NaN
117,118,16/86,1031,Helen Egelhoff,23.0,"Montgomery, Vill",00:47:27,00:47:24,00:07:38,Montgomery,NaN
196,197,33/173,1185,Gail Gannon,41.0,"Montgomery, Vill",00:53:21,00:50:00,00:08:03,Montgomery,NaN
222,223,38/173,3368,Sharlene Deskins,41.0,,00:54:37,00:50:53,00:08:12,,NaN
263,264,25/86,606,Cassie Billinger,22.0,"Montgomery, Vill",00:55:03,00:51:58,00:08:22,Montgomery,NaN
429,430,66/173,1294,Sandra Guinan,32.0,"Montgomery, Vill",00:58:42,00:55:25,00:08:55,Montgomery,NaN
446,447,64/142,2584,Christine Sun,29.0,"Potomac Falls, V",00:58:56,00:55:37,00:08:57,Potomac Falls,NaN
506,507,84/173,1032,Debra Egloff,40.0,"Montgomery, Vill",01:00:40,00:56:43,00:09:08,Montgomery,NaN
531,532,75/142,2846,Cindy Zeldin,29.0,"North, Bethesda",01:01:09,00:57:20,00:09:14,North,NaN
682,683,104/173,2325,Lauren Rubin,31.0,"Unknown,",01:03:45,00:59:47,00:09:38,Unknown,NaN
709,710,37/76,2473,Deborah Skelton,51.0,"Capitol, Heights",01:04:11,01:00:14,00:09:42,Capitol,NaN
834,835,128/173,1934,Masoomeh Mina,33.0,"Montgomery, Vill",01:04:52,01:03:46,00:10:16,Montgomery,NaN
845,846,86/110,2538,Donna St. George,45.0,"North, Bethesda",01:08:05,01:04:07,00:10:20,North,NaN
864,865,204/247,426,Heather Brown,35.0,Hendersonville,01:08:39,01:04:45,00:10:26,Hendersonville,NaN
880,881,116/142,747,Rebecca Carroll,28.0,"Montgomery, Vill",01:08:27,01:05:16,00:10:31,Montgomery,NaN
946,947,146/173,1017,Naomi Dyer,33.0,"North, Bethesda",01:11:12,01:07:30,00:10:52,North,NaN
948,949,56/76,616,Karen Blass,52.0,"North, Bethesda",01:12:56,01:07:53,00:10:56,North,NaN
1045,1046,162/173,1505,Katherine Kadin,31.0,"North, Bethesda",01:17:45,01:13:59,00:11:55,North,NaN
1073,1074,170/173,3371,Joyce Setsuda,42.0,,01:24:27,01:19:13,00:12:45,,NaN